<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Shop Cars</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="register-page">
            <div class="register-header">
                <h3>Registration</h3>
            </div>
            <div v-if="successMessage">
                <h2 style="color:green">Success</h2>
                <h3>{{login}}, thank you for registration</h3>
                <div class="register-btn" onClick='location.href="http://192.168.0.15/~user1/REST/client/"'><button >Back to shop</button></div>
            </div>
            <div class="register-form" v-if="!successMessage">
                <form @submit.prevent="checkForm">
                    <input v-model="login" type="text" name="login" placeholder=" Login">
                    <input v-model="password" type="text" name="password" placeholder=" Password">
                    <div v-if="errMessage != ''" >{{ errMessage }}</div>
                    <div class="register-btn"><button type="submit">Sing Up</button></div>
                </form>
            </div>
        </div> 

        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="js/vue-registration.js"></script>
    </body>
</html>
